*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
}

.AppWrapper {
    width: 300px;
    margin: 50px auto;
}

.display{
    width: 100%;
    height: 50px;
    text-align: right;
    line-height: 50px;
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 10px;
}

.numbersWrapper{
    display: flex;

    margin-top: 20px;

}

.numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.operators {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.equal{
    width: 100%;
    gap: 5px;
}

li {
    list-style-type: none;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
.none {
    cursor: default;
}
.none:hover {
    background-color: transparent;
}

li:hover {
    background-color: #ccc;
}

li:active {
    background-color: #aaa;
}

ul {
    display: flex;
}

.equal{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.equal li{
    width: 100%;
    height: 100%;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}